extends ../_shared/master

block content

    .media
        .media-left
            a(href=postInfo.image)
                img.media-object.postImage(src=postInfo.image, alt="")
        .media-body
            h2.media-heading #{postInfo.name}
            p #{postInfo.content}
            span 
                | In    
                a(href="/r/" + postInfo.subreaditName) r/#{postInfo.subreaditName}
                |   By  
                a(href="/user/" + postInfo.userName) #{postInfo.userName} 
                    img.smallAvatar(src=postInfo.avatar, alt="")
            .tags
                ul
                    |Tags: 
                    each tag in postInfo.tags
                        li
                            | #{tag}
                br
                a(href="/post/edit/" + postInfo.subreaditName + "/" + postInfo.id) 
                    | Edit
    hr
    h3
        | Add a comment
    if authenticated
        p
            form(action="/r/" + postInfo.subreaditName + "/post/" + postInfo.id, method="post")
                div
                textarea(name="content", cols="50", rows="5")
                div
                    button(type="submit")
                        | Submit
    else
        p
            | You need to be logged in to be able to leave a comment
        div
            a(href="/user/login") Log In
            a(href="/user/register")    Register
    h3 All comments:
    each comment in postInfo.comments
        .media
            .media-left
                a(href="#")
                    img.media-object.mediumAvatar.img-circle(src=comment.userAvatar, alt="")
            .media-body.commentBody
                a.media-heading.commentUser(href="/user/" + comment.userName) #{comment.userName}
                p.commentContent #{comment.content}
                p.commentCreatedAt #{comment.createdAt}
