extends ../_shared/master

block content

    if errors
        each error in errors
            div(class="alert alert-danger") #{error.msg}
        h1
            | Create a new post in #{subreadit}!
        form(action="/r/" + subreadit, method="post")
            div.form-group
                label(for="title") Title
                input(type="text", name="name", id="title", class="form-control")
            div.form-group
                label(for="image") Image
                input(type="url", name ='image', id="image", class="form-control")
            div.form-group
                label(for="subreaditSelect") Subreadits
                select#subreaditSelect.select.form-control.input-md(name="subreaditId")
                    each subrdt in subreadits
                        if subrdt.name == subreadit
                            option(value=subrdt.id, selected= true) #{subrdt.name}
                        else
                            option(value=subrdt.id) #{subrdt.name}
            div.form-group
                label.tags(for="tags") Tags
                select#tags.selectpicker.multiple(name="tagsId", multiple)&attributes({'data-live-search': 'true'})
                    each tag in tags
                        option(value=tag.id, data-id=tag.id) #{tag.name}
            div.form-group
                label(for="content") 
                textarea#content(name="content", cols="60", rows="10")
            div.form-group
                button.btn.btn-primary(type="submit") Submit
    else
        h1
            | Create a new post in #{subreadit}!
        form(action="/r/" + subreadit, method="post")
            div.form-group
                label(for="title") Title
                input(type="text", name="name", id="title", class="form-control")
            div.form-group
                label(for="image") Image
                input(type="url", name ='image', id="image", class="form-control")
            div.form-group
                label(for="subreaditSelect") Subreadits
                select#subreaditSelect.select.form-control.input-md(name="subreaditId")
                    each subrdt in subreadits
                        if subrdt.name == subreadit
                            option(value=subrdt.id, selected= true) #{subrdt.name}
                        else
                            option(value=subrdt.id) #{subrdt.name}
            div.form-group
                label.tags(for="tags") Tags
                select#tags.selectpicker.multiple(name="tagsId", multiple)&attributes({'data-live-search': 'true'})
                    each tag in tags
                        option(value=tag.id, data-id=tag.id) #{tag.name}
            div.form-group
                label(for="content") 
                textarea#content(name="content", cols="60", rows="10")
            div.form-group
                button.btn.btn-primary(type="submit") Submit