extends ./_shared/master

block content
    h1
        | #{post.name}

    p
        img(src="#{post.image}")
    p
        | #{post.subreaditName}
    
    p
        ul
            each tag in tags
                li
                    p
                        =tag
    p
        | #{post.userName}
    p
        img(src="#{post.avatar}") 
    p
        | #{post.content}


    div
        ul
            each coment in comentars
                li
                    p
                        =coment
    h2
        | add comentar
    p
        form(action="/content/:id", method="post")
            div
            textarea(name="content", cols="30", rows="10")
            
            input(type="hidden", name="postId", value =id)

            input(type="hidden", name="userId", value = 1)
            div
                button(type="submit")
                    | Submit