extends ../_shared/master

block content
    a.btn.btn-primary(href="/r/" + subreadit + '/create') Create a new Post
    ul
        each post in posts
            li
                div.postContainer
                    div.innerPostContainer
                        a.thumbnail.img-thumbnail(href=subreadit + "/post/" + post.id)
                            img(src=post.image)
                        div.postInfo
                            p.title
                                a(href='/r/' + post.subreaditName + '/post/' + post.id) #{post.name}
                            p.tagline
                                | Submitted by 
                                a(href="/user/" + post.userName) #{post.userName}  
                                | #{post.createdAgo} 
                                | #{post.commentsCount}
                                |   Comments
                            hr
                            

